:root {
  --green-background: #89dcea;
  --green-background-darker: #7bc4d1;
  --blue-background: #72abd4;
  --blue-background-darker: #6596ba;
  --neon-green: #85f6c7;
}

* {
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background: var(--green-background);
}

.card {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 0.4s ease-in-out;
  border-radius: 25px;

  box-shadow: 0px 1px 10px 3px #7bc4d1, 0px -1px 15px 3px #7bc4d1;
}

.card.flip {
  transform: rotateY(-180deg);
}

.front__face {
  width: 100px;
  height: 100px;
  background: var(--neon-green);
  position: absolute;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.front__face p {
  margin: 0 auto;
  font-size: 26px;
  color: rgb(156, 152, 152);
}

.back__face {
  width: 100px;
  height: 100px;
  background: var(--blue-background-darker);
  transform: rotateY(180deg);
  position: absolute;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.back__face p {
  margin: 0 auto;
  font-size: 26px;
  color: rgb(216, 211, 211);
}
